h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2.5rem;
  color: #505050;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px #2ba479;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #505050;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px #2ba479;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2ba479;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1d6b50;
}
